In [1]:
import boto3
import pandas as pd
from io import StringIO

In [3]:
s3 = boto3.resource('s3')
bucket = s3.Bucket('xetra-1234')

In [11]:
bucket_obj = bucket.objects.filter(Prefix='2022-03-15')
objects = [obj for obj in bucket_obj]

In [12]:
objects

[s3.ObjectSummary(bucket_name='xetra-1234', key='2022-03-15/2022-03-15_BINS_XETR00.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-03-15/2022-03-15_BINS_XETR01.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-03-15/2022-03-15_BINS_XETR02.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-03-15/2022-03-15_BINS_XETR03.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-03-15/2022-03-15_BINS_XETR04.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-03-15/2022-03-15_BINS_XETR05.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-03-15/2022-03-15_BINS_XETR06.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-03-15/2022-03-15_BINS_XETR07.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-03-15/2022-03-15_BINS_XETR08.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-03-15/2022-03-15_BINS_XETR09.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-03-15/2022-03-15_BINS_XETR10.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-03-15/2022-03-15_BINS_XETR11.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-03-15/2022-03-15_BINS_XETR12.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-03-15/2022-03-15_BINS_XETR13.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-03-15/2022-03-15_BINS_XETR14.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-03-15/2022-03-15_BINS_XETR15.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-03-15/2022-03-15_BINS_XETR16.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-03-15/2022-03-15_BINS_XETR17.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-03-15/2022-03-15_BINS_XETR18.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-03-15/2022-03-15_BINS_XETR19.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-03-15/2022-03-15_BINS_XETR20.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-03-15/2022-03-15_BINS_XETR21.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-03-15/2022-03-15_BINS_XETR22.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-03-15/2022-03-15_BINS_XETR23.csv')]

In [25]:
csv_obj = bucket.Object(key='2022-03-15/2022-03-15_BINS_XETR10.csv').get().get('Body').read().decode('utf-8')

In [27]:
data = StringIO(csv_obj)
df = pd.read_csv(data)

In [28]:
df

,ISIN,Mnemonic,SecurityDesc,SecurityType,Currency,SecurityID,Date,Time,StartPrice,MaxPrice,MinPrice,EndPrice,TradedVolume,NumberOfTrades
0,AT0000A0E9W5,SANT,S+T AG O.N.,Common stock,EUR,2504159,2022-03-15,10:00,14.450,14.450,14.370,14.370,2530,7
1,AT0000743059,OMV,OMV AG,Common stock,EUR,2504175,2022-03-15,10:00,42.310,42.310,42.310,42.310,48,1
2,AT0000969985,AUS,AT+S AUSTR.T.+SYSTEMT.,Common stock,EUR,2504191,2022-03-15,10:00,43.300,43.300,43.150,43.150,64,2
3,CH0038389992,BBZA,"BB BIOTECH NAM. SF 0,20",Common stock,EUR,2504244,2022-03-15,10:00,63.700,63.700,63.700,63.700,150,1
4,DE000ETFL011,EL4A,DK DAX,ETF,EUR,2504258,2022-03-15,10:00,122.500,122.500,122.500,122.500,40,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12128,DE000A3H3LL2,VTWR,VANTAGE TOWERS AG NA O.N.,Common stock,EUR,6204589,2022-03-15,10:59,30.080,30.080,30.080,30.080,70,1
12129,DK0061539921,VWSB,"VESTAS WIND SYS. DK -,20",Common stock,EUR,6354987,2022-03-15,10:59,26.610,26.620,26.610,26.620,441,2
12130,DE000VTSC017,VTSC,VITESCO TECHS GRP NA O.N.,Common stock,EUR,6791383,2022-03-15,10:59,29.600,29.600,29.600,29.600,173,2
12131,DE000DTR0CK8,DTG,DAIMLER TRUCK HLDG JGE NA,Common stock,EUR,7126155,2022-03-15,10:59,23.290,23.300,23.250,23.250,877,3
12132,GB00BP6MXD84,R6C0,SHELL PLC EO-07,Common stock,EUR,7347727,2022-03-15,10:59,22.425,22.425,22.425,22.425,137,1